@model ReleaseCand.ViewModels.CustomerReportViewModel
@{
    ViewData["Title"] = "App";
}

<h2>App</h2>

<a class="btn btn-default" href="https://localhost:44344/Reservations/Create">
    Order Form
</a>
