@{
    ViewData["Title"] = "Menu";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4><b>Cheeseburger</b></h4>

<img src="~/images/SRG_EasyBake_Cheeseburger_95215_copy.jpg" width="1100" />
<br />
<br />
<br />

<h4><b>Lasagna</b></h4>

<img src="~/images/pork-and-beef-lasagne-97092-1.jpeg" width="1100" />
<br />
<br />
<br />

<h4><b>French Fries</b></h4>

<img src="~/images/fries_620x330_51517901541.jpg" width="1100" />
<br />
<br />
<br />

<h4><b>TiraMisu</b></h4>

<img src="~/images/1371597326801.jpeg" width="1100" />
<br />
<br />
<br />

<h4><b>Cheesecake</b></h4>

<img src="~/images/images.jpg" width="1100" />
<br />
<br />
<br />

<h4><b>Pepsi</b></h4>

<img src="~/images/depositphotos_105947410-stock-photo-can-and-glass-of-pepsi.jpg" width="1100" />
<br />
<br />
<br />

<h4><b>Sprite</b></h4>

<img src="~/images/t-mcdonalds-Sprite-Small.jpg" width="1100" />
<br />
<br />
<br />

<h4><b>Water</b></h4>

<img src="~/images/cup-1177644_960_720.jpg" width="1100" />
<br />
<br />
<br />